{% load static %}

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://github.com/morganmcdnald/"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.behance.net/morganmcdonald13"><i class="fa fa-behance"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/morgandzns/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/morganmcdee13"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:morganmcdonalddesign@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
                <img src="{% static '\img\tmdbLogo.png' %}" alt="TMDB Logo" class="movieDBLogo">
                <br>
                <p><a href="https://developers.themoviedb.org/3/getting-started/introduction" class="text-blue">The Movie Database API</a> was used to fetch all of the movie/series/actor data seen and used in this web application.</p>
                <p class="h6">Copyright &copy; <span class="year"></span> | All Rights Reversed. <a class="text-blue" href="https://www.morganmcdonald.co.uk" target="_blank">Morgan McDonald.</a></p>
            </div>
            <hr>
        </div>	
    </div>
</section>
<!-- ./Footer -->