{% load static %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <a class="navbar-brand d-none d-lg-inline-block" href="{% url 'index' %}">
          &nbsp;&nbsp;&nbsp;<span>Smol</span>Screen
        </a>
        <a class="navbar-brand mx-auto d-lg-none d-inline-block" href="#">
          <span>Smol</span>Screen
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-left" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a {% if 'account' in request.path %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %} href="{% url 'account' %}" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a {% if 'login' in request.path %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %} href="{% url 'login' %}" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item">
              <a {% if 'register' in request.path %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %} href="{% url 'register' %}" data-toggle="tooltip" data-placement="bottom" title="Sign Up"><i class="fas fa-user-plus"></i></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>