{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block title %} | Account {%endblock %}

{% block content %}
<div id="account">
  <section id="showcase-inner" class="py-5 text-white" style="background: url('{{ user.profile.header.url }}') no-repeat center center; background-size: 100vw;
  position: relative;
  overflow: hidden;
  min-height: 200px;">
    <div class="container">
          <!-- Alerts -->
      {% include 'partials/_alerts.html' %}
      <div class="row">
        <div class="col-md-2">
          <img
            class="profilePic"
            src="{{ user.profile.image.url }}"
            alt=""
          />
        </div>
        <div class="col-md-10 account-header">
          <div style="display: inline-flex">
            <h4>{{user.username}} &nbsp;<span>Member Since {{ user.date_joined | date:"d F Y" }}</span></h4>
          </div>
          <p class="lead">
            {{ user.profile.bio }}
          </p>
          <p>Followers: {{ followers_count }} &nbsp;&nbsp;&nbsp; Following: {{ following_count }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Last active {{ user.last_login | timesince }} ago</em></p>
          <a href="{% url 'editDetails' %}" class="text-white">Edit Details</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Account</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if favourites %}
            <!-- Favourites -->
            <h3 class="text-center mb-3">Your Favourites</h3>
            <div class="favourites-slider">
              {% for favourite in favourites %}
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w342{{ favourite.media_poster }}" alt="" />
                  <div class="card-body-fav text-center">
                    <script type="text/javascript">
                      function resetValues{{favourite.media_id}}() {
                        localStorage.setItem('movieId', "{{favourite.media_id}}");
                        localStorage.setItem('title', "{{favourite.media_title}}");
                        localStorage.setItem('type', "{{ favourite.media_type }}");
                      }
                    </script>
                    <a class="favouritesBtn" onclick="resetValues{{favourite.media_id}}();movieSelected('{{favourite.media_id}}', '{{favourite.media_type}}', '{{favourite.media_title}}', '{{favourite.media_poster}}');" href="{% url 'result' %}">{{ favourite.media_title }}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          {% else %}
            <br>
            <p><strong>You have not favourited any titles yet.</strong></p>
          {% endif %}

          <br>
          <br>

          {% if reviews %}
            <!-- Reviews -->
            <h3 class="text-center mb-3">Your Reviews</h3>
            <div class="reviews-slider">
              {% for review in reviews %}
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w342{{ review.media_poster }}" alt="" />
                  <div class="card-body-fav text-center">
                    <script type="text/javascript">
                      function resetValues{{review.media_id}}() {
                        localStorage.setItem('movieId', "{{review.media_id}}");
                        localStorage.setItem('title', "{{review.media_title}}");
                        localStorage.setItem('type', "{{ review.media_type }}");
                      }
                    </script>
                    <a class="favouritesBtn" onclick="resetValues{{review.media_id}}();movieSelected('{{review.media_id}}', '{{review.media_type}}', '{{review.media_title}}', '{{review.media_poster}}');" href="{% url 'result' %}">{{ review.media_title }}</a>
                    <p>{{ review.review_title }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          {% else %}
            <br>
            <p><strong>You have not reviewed any titles yet.</strong></p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script>
</script>

{% endblock %}
