{% extends "base.html" %} 

{% load static %} 

{% block title %} | Login {% endblock %} 

{% block content %}
<div id="login">
  <div class="container login-content">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7">
        <div class="card-body card-body-login">
            <h3 class="text-center">Enter New Password</h3>
            <br>
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <br>
            <form method="post">
              {% csrf_token %}
              {{form}}
              <br>
              <br>
              <input type="submit" name="Update Password">
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% endblock %}
