{% extends "base.html" %} 

{% load static %} 

{% block title %} | Password Reset Sent {% endblock %} 

{% block content %}
<div id="login">
  <div class="container login-content">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7">
        <div class="card-body card-body-login">
            <h3 class="text-center">Password Reset Sent!</h3>
            <br>
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <p class="text-center">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <br>
            <p class="text-center">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <br>
          </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% endblock %}
