{% extends "base.html" %}

{% load static %}

{% block title %} | List {% endblock %}

{% block content %}
<!-- Search Results -->
<section id="results">
    <div class="container">
        <div class="headerBtns row ml-1">
            <div class="header-left">
                <a href="{% url 'account' %}" class="btn btn-secondary">Back to Account</a>
            </div>
            {% if chosen_list %}
            {% with chosen_list.all|first as i %}
            <div class="ml-auto mr-3">
                <div class="deleteBtn">
                    {% if i.list_name != 'Watchlist' %}
                            <form action="{% url 'delete_list' %}" method="POST">
                                {% csrf_token %} {% if user.is_authenticated %}

                                <input type="hidden" name="list_name" value="{{ i.list_name }}" />
                                <input type="hidden" name="owner_id" value="{{ i.owner_id }}" />
                                
                                <button
                                type="submit"
                                class="favouritesBtn"
                                style="margin-top: -7px;"
                                ><i class="fas fa-trash-alt"></i> Delete List</button>
                                {% endif %}
                            </form>
                        {% endif %}
                </div>
            </div>
        </div>
        <div id="view-list" class="row">
            <br>
                <div class="col-md-12 text-center">
                    <br>
                        <h3>{{ i.list_name }} by {{ i.owner_username }}</h3>
                      {% endwith %}
                    <br>
                </div>

                {% for item in chosen_list %}
                    <div class="col-md-3">
                        <div class="well text-center search-img">
                            <script type="text/javascript">
                                function resetValues{{list.id}}() {
                                  localStorage.setItem('movieId', "{{item.title_id}}");
                                  localStorage.setItem('title', "{{item.title_name}}");
                                  localStorage.setItem('type', "{{item.title_type}}");
                                }
                            </script>
                            <a onclick="resetValues{{list.id}}();movieSelected('{{item.title_id}}', '{{item.title_type}}', '{{item.title_name}}', '{{item.title_poster}}');" href="{% url 'result' %}"><img src="https://image.tmdb.org/t/p/w342{{item.title_poster}}"></a>
                            <div class="listTitleInfo">
                                <a onclick="resetValues{{list.id}}();movieSelected('{{item.title_id}}', '{{item.title_type}}', '{{item.title_name}}', '{{item.title_poster}}');" class="favouritesBtn text-white" href="{% url 'result' %}">{{ item.title_name }}</a>
                                &nbsp;&nbsp;
                                <form action="{% url 'delete_list_item' %}" method="POST">
                                    {% csrf_token %} {% if user.is_authenticated %}

                                    <input type="hidden" name="list_name" value="{{ item.list_name }}" />
                                    <input type="hidden" name="owner_id" value="{{ item.owner_id }}" />
                                    <input type="hidden" name="title_name" value="{{ item.title_name }}" />
                                    <input type="hidden" name="title_id" value="{{ item.title_id }}" />
                                    <input type="hidden" name="title_type" value="{{ item.title_type }}" />
                                    
                                    <button
                                    type="submit"
                                    class="favouritesBtn"
                                    style="margin-top: -7px;"
                                    class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Remove From List"
                                    ><i class="fas fa-trash-alt"></i></button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="text-center">There are no items in this list.</h5>
            {% endif %}

        </div>
    </div>
</section>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
   
</script>
{% endblock %}