{% extends "base.html" %}

{% load static %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
      <div class="container text-center">
          <!-- Alerts -->
          {% include 'partials/_alerts.html' %}
          <div class="search-box">
            <h1>Keep Track of TV and Film</h1>
            <h4>Favourite Movies? Reommendations? Challenges?</h4>
            <button class="btn btn-primary btn-home">Create New List</button>
            <br>
            <br>
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="Search..." autocomplete="off">
            </form>
          </div>
      </div>
</section>

<section id="whats-hot">
    <div class="container text-center">
        <h4>Hot Movies</h4>
        <br>
        <div class="hot-slider" id="hot"></div>
    </div>

    <br>
    <br>

    <div class="container text-center">
        <h4>Hot TV Shows</h4>
        <br>
        <div id="hotTV" class="hotTV-slider"></div>
    </div>
</section>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(() => {
        getHot();
        getHotTV();
        getMovie();
        $('#searchForm').on('submit', (e) => {
            let searchText = $('#searchText').val();
            movieSearched(searchText);
            e.preventDefault();
        });
    });
    
</script>
{% endblock %}