{% extends "base.html" %}

{% load static %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
      <div class="container text-center">
          <!-- Alerts -->
          {% include 'partials/_alerts.html' %}
          <div class="search-box">
            <br>
            <br>
            <br>
            <br>
            <h1>Keep Track of TV and Film</h1>
            <h4>Favourite Movies? Reommendations? Challenges?</h4>
            <br>
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="Search..." autocomplete="off">
            </form>
          </div>
      </div>
</section>

<section id="whats-hot">
    <div class="container text-center">
        <h4>Hot Movies</h4>
        <br>
        <div class="hot-slider" id="hot"></div>
    </div>

    <br>
    <br>

    <div class="container text-center">
        <h4>Hot TV Shows</h4>
        <br>
        <div id="hotTV" class="hotTV-slider"></div>
    </div>

    <br>
    <br>

    <div class="container text-center">
        <h4>Recently Reviewed</h4>
        <br>
        {% if reviews %}
            <!-- Reviews -->
            <div class="recentReviews-slider">
              {% for review in reviews %}
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                  <script type="text/javascript">
                    function resetValues{{review.media_id}}() {
                      localStorage.setItem('movieId', "{{review.media_id}}");
                      localStorage.setItem('title', "{{review.media_title}}");
                      localStorage.setItem('type', "{{review.media_type}}");
                    }
                  </script>
                  <a class="favouritesBtn" onclick="resetValues{{review.media_id}}();movieSelected('{{review.media_id}}', '{{review.media_type}}', '{{review.media_title}}', '{{review.media_poster}}');" href="{% url 'result' %}"><img class="card-img-top" src="https://image.tmdb.org/t/p/w342{{ review.media_poster }}" alt="" /></a>
                  <div class="card-body-fav text-center">
                    <a class="favouritesBtn text-white" onclick="resetValues{{review.media_id}}();movieSelected('{{review.media_id}}', '{{review.media_type}}', '{{review.media_title}}', '{{review.media_poster}}');" href="{% url 'result' %}">{{ review.media_title }}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          {% else %}  
            <br>
            <p class="text-center"><strong>There are no recently reviewed titles.</strong></p>
          {% endif %}
    </div>

    <br>
    <br>

    <div class="container text-center">
        <h4>Recent Lists</h4>
        <br>
        {% if lists %}
            <!-- Reviews -->
            <div class="recentLists-slider">
              {% for list in lists %}
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                  <script type="text/javascript">
                    function resetValues{{list.id}}() {
                        localStorage.setItem('movieId', "{{list.title_id}}");
                        localStorage.setItem('title', "{{list.title_name}}");
                        localStorage.setItem('type', "{{list.title_type}}");
                    }
                  </script>
                  {% if list.owner_id == user.id %}
                    <a class="favouritesBtn" href="{% url 'view_list' list.list_name %}"><img class="card-img-top" src="https://image.tmdb.org/t/p/w342{{ list.title_poster }}" alt="" /></a>
                    <div class="card-body-fav text-center">
                      <a class="favouritesBtn text-white" href="{% url 'view_list' list.list_name %}">{{ list.list_name }}</a>
                      <p class="reviewTitleAcc">{{ list.owner_username }}</p>
                    </div>
                  {% else %}
                    <a class="favouritesBtn" href="{% url 'view_user_list' list_name=list.list_name user_id=list.owner_id %}"><img class="card-img-top" src="https://image.tmdb.org/t/p/w342{{ list.title_poster }}" alt="" /></a>
                    <div class="card-body-fav text-center">
                      <a class="favouritesBtn text-white" href="{% url 'view_user_list' list_name=list.list_name user_id=list.owner_id %}">{{ list.list_name }}</a>
                      <p class="reviewTitleAcc">{{ list.owner_username }}</p>
                    </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          {% else %}  
            <br>
            <p class="text-center"><strong>There are no recently reviewed titles.</strong></p>
          {% endif %}
    </div>
</section>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(() => {
        getHot();
        getHotTV();
        $('#searchForm').on('submit', (e) => {
            let searchText = $('#searchText').val();
            movieSearched(searchText);
            e.preventDefault();
        });
    });
    
</script>
{% endblock %}