{% extends "base.html" %}

{% load static %}

{% block title %} | Search Results {% endblock %}

{% block content %}
<!-- Search Results -->
<div class="account-page">
    <section id="results">
        <div class="container">
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="Search..." autocomplete="off">
            </form>
            <br>
            <div id="movies" class="row"></div>
        </div>
    </section>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(() => {
        let prevSearch = sessionStorage.getItem('searchEntry');
        $("#searchText").val(prevSearch);
        getMovies();
        $('#searchForm').on('submit', (e) => {
            let searchText = $('#searchText').val();
            movieSearched(searchText);
            e.preventDefault();
        });
    });
   
</script>
{% endblock %}