@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap");

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-brand span {
    font-weight: 300;
}

.text-blue {
    color: #6ab7eb !important;
}

#showcase {
    background: url(../img/eo17.png) no-repeat top center;
    background-size: cover;
    min-height: 50rem;
    color: #fff;
}

.search-box {
    margin-top: 30rem;
    text-transform: uppercase;
}

.btn-home {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    margin-top: .5rem;
}

#movies img, #movie img, #hot img {
    width: 100%;
}

#movies .col-md-3 .well, #hot .col-md-3 .well {
    min-height: 575px;
}

#whats-hot {
    text-transform: uppercase;
}

.dark-bg {
    background-color: #1b1b1b !important;
}

.tagline {
    color: #616161 !important;
    margin-top: -.5rem;
}

.search-img h5 {
    padding-top: 1rem !important;
}

.search-img h6 {
    color: #616161 !important;
}

#results {
    min-height: 100vh !important;
}

#whats-hot a {
    margin-top: .75rem !important;
}